
.carousel {
  width: 750px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
}
.carousel  :global .youdu_carousel_container {
  border-radius: 20px;
  overflow: hidden;
}
.waterFall {
  width: 750px;
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 20px;
}
.hot_title {
  width: 100%;
  text-align: center;
  color: #333333;
}